<div class="card mb-3">
    <div>
        <h2>Información general</h2>
         
        <div id="contenedor de dash" style="background-color: #eff5fc;">
          <!-- Primer contenedor -->
          <div class="container">
            <div class="half">
              <!-- Título principal con contador -->
              <div class="menu-title">
                Mis Entornos 
                <span class="circle-count">{{ totalMisEntornos }}</span>
              </div>
              <p-panelMenu [model]="misEntornos" styleClass="custom-tab-menu"></p-panelMenu>
            </div>
            <div class="half">
              <!-- Título principal con contador -->
              <div class="menu-title">
                Entornos donde participo 
                <span class="circle-count">{{ totalEntornosParticipo }}</span>
              </div>
              <p-panelMenu [model]="elementosEntornosParticipo" styleClass="custom-tab-menu"></p-panelMenu>
            </div>
          </div>

          <!-- Segundo contenedor -->
          <div class="container">
            <div class="half">
              <!-- Título principal con contador -->
              <div class="menu-title">
                Actividades por evaluar
                <span class="circle-count">{{ totalActividadesEvaluar }}</span>
              </div>
              <p-panelMenu [model]="actividadesEvaluar" styleClass="custom-tab-menu"></p-panelMenu>
            </div>
            <div class="half">
              <!-- Título principal con contador -->
              <div class="menu-title">
                Comentarios no vistos
                <span class="circle-count">{{ totalComentarios }}</span>
              </div>
              <p-panelMenu [model]="comentariosPendientes" styleClass="custom-tab-menu"></p-panelMenu>
            </div>
          </div>

          <!-- Tercer contenedor -->
          <div class="container">
            <div class="half">
              <!-- Título principal con contador -->
              <div class="menu-title">
                Actividades por expirar
                <span class="circle-count">{{ totalActividadesPorExpirar }}</span>
              </div>
              <p-panelMenu [model]="actividadesAExpirar" styleClass="custom-tab-menu"></p-panelMenu>
            </div>
            <div class="half">
              <!-- Título principal con contador -->
              <div class="menu-title">
                Solicitudes pendientes
                <span class="circle-count">{{ totalSolicitudes }}</span>
              </div>
              <p-panelMenu [model]="solicitudesPendientes" styleClass="custom-tab-menu"></p-panelMenu>
            </div>
          </div>
        </div> <!-- Fin de contenedor de dash -->

    </div> <!-- Fin de div superior -->
</div> <!-- Fin de card -->
