.card {
    padding: 2rem;
    border-radius: 8px;
}

.report-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.report-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h5 {
    margin: 0;
    font-weight: 500;
}

button {
    margin-left: 1rem;
}

.responsive-dialog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .responsive-dialog .p-field {
    flex: 1;
  }

  /* Asegurarse de que el calendario sea visible */
.ui-datepicker {
    z-index: 10000 !important; /* Ajusta el z-index según sea necesario */
  }
  
  /* Si deseas ajustar la altura máxima del modal */
  .p-dialog {
    max-height: 90vh; /* Asegúrate de que el modal no exceda la altura de la ventana */
    overflow-y: auto; /* Agrega scroll si es necesario */
  }
  
/* Asegurarse de que el dropdown sea visible */
.ui-dropdown-panel {
    z-index: 10000 !important; /* Ajusta el z-index según sea necesario */
  }
  
  /* Asegurarse de que el contenido del dropdown sea legible */
  .p-dropdown {
    width: 100%; /* Asegúrate de que el dropdown ocupe todo el espacio disponible */
  }
  

  /* Para pantallas más pequeñas (por ejemplo, menor a 768px) */
  @media screen and (max-width: 768px) {
    .responsive-dialog {
      flex-direction: column;
    }
  }
  