<div class="card mb-3" > 
    <h2>Unirme a un nuevo entorno</h2>

    <div class="shadow-2 m-3 surface-card text-center p-2 border-round-sm font-semibold">
        <div id="contenedor-de-dash" class="dashboard-container">

            <div class="info-card">
                
                <div class="info-row">
                    <div class="info-group">
                        
                    </div>
                    <div class="info-group">
                        

                    </div>
                </div>
                <div class="info-row">
                    <div class="info-group">
                       
                    </div>
                    <div class="info-group">
                       
                    </div>
                </div>
            </div>
       
        </div>

        


         

    </div>

    <div class="shadow-2 m-3 surface-card text-center p-2 border-round-sm font-semibold">
        <div id="contenedor-de-dash" class="dashboard-container">

            <div class="info-card">
                

                <div class="info-row">
                    <div class="info-group">
                      
                    </div>
                    <div class="info-group">
                        
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-group">
                       
                    </div>
                    <div class="info-group">
                         
                    </div>
                </div>
            </div>
        
        </div>

        


         

    </div>
</div>