<div class="card mb-3" > 
    <h2>Unirme a un nuevo entorno</h2>

    <div class="shadow-2 m-3 surface-card text-center p-2 border-round-sm font-semibold">
        <div id="contenedor-de-dash" class="dashboard-container">

            <div class="info-card">
                <p class="p-text-bold text-3xl">Entorno de trabajo: {{ entornoNombre }}</p>
                <div class="info-row">
                    <div class="info-group">
                        <p class="label text-lg">Coordinador:</p>
                        <p class="value text-lg">{{ coordinador }}</p>
                    </div>
                    <div class="info-group">
                        <p class="label text-lg">Miembros Activos:</p>
                        <p class="value text-lg">{{ miembrosActivos }}</p>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-group">
                        <p class="label text-lg">Fecha de Inicio:</p>
                        <p class="value text-lg">{{ fechaInicio }}</p>
                    </div>
                    <div class="info-group">
                        <p class="label text-lg">Fecha de Término:</p>
                        <p class="value text-lg">{{ fechaTermino }}</p>
                    </div>
                </div>
            </div>
            <p-button label="Solicitar unirse" class="request-button" />
        </div>

        


         

    </div>

    <div class="shadow-2 m-3 surface-card text-center p-2 border-round-sm font-semibold">
        <div id="contenedor-de-dash" class="dashboard-container">

            <div class="info-card">
                <p class="p-text-bold text-3xl">Entorno de trabajo: {{ entornoNombre }}</p>
                <div class="info-row">
                    <div class="info-group">
                        <p class="label text-lg">Coordinador:</p>
                        <p class="value text-lg">{{ coordinador }}</p>
                    </div>
                    <div class="info-group">
                        <p class="label text-lg">Miembros Activos:</p>
                        <p class="value text-lg">{{ miembrosActivos }}</p>
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-group">
                        <p class="label text-lg">Fecha de Inicio:</p>
                        <p class="value text-lg">{{ fechaInicio }}</p>
                    </div>
                    <div class="info-group">
                        <p class="label text-lg">Fecha de Término:</p>
                        <p class="value text-lg">{{ fechaTermino }}</p>
                    </div>
                </div>
            </div>
            <p-button label="Solicitar unirse" class="request-button" />
        </div>

        


         

    </div>
</div>