<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>Grupos de Actividades</h5>
		<p-toast></p-toast>
		<p-table [value]="taskGroups" dataKey="id" responsiveLayout="scroll" [rowGroupMetadata]="rowGroupMetadata">
		  <ng-template pTemplate="header">
			<tr>
			  <th>Nombre del Grupo</th>
			  <th>Descripción</th>
			  <th>Fecha de Inicio</th>
			  <th>Fecha de Fin</th>
			  <th>Actividades</th>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="body" let-group let-rowIndex="rowIndex">
			<tr>
			  <td *ngIf="rowIndex === rowGroupMetadata[group.name]?.index">{{ group.name }}</td>
			  <td *ngIf="rowIndex === rowGroupMetadata[group.name]?.index">{{ group.description }}</td>
			  <td *ngIf="rowIndex === rowGroupMetadata[group.name]?.index">{{ group.startDate | date }}</td>
			  <td *ngIf="rowIndex === rowGroupMetadata[group.name]?.index">{{ group.endDate | date }}</td>
			  <td *ngIf="rowIndex === rowGroupMetadata[group.name]?.index">
				<ul>
				  <li *ngFor="let activity of group.activities">{{ activity.name }}</li>
				</ul>
			  </td>
			</tr>
		  </ng-template>
		</p-table>
	  </div>
	</div>
  </div>