<div class="surface-0 h-screen" translate="no">
    <div id="home" class="landing-wrapper overflow-hidden">
        <div class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <div class="flex align-items-center">
                <a href="#">
                    <img src="assets/demo/images/login/logoUpemor.png" alt="Sakai Logo" height="50" class="mr-0 lg:mr-2">
                </a>
            </div>

            <div class="flex-grow-1 text-center absolute w-full left-0">
                <span class="text-900 font-bold text-3xl">UNIVERSIDAD POLITÉCNICA DEL ESTADO DE MORELOS</span>
            </div>

            <div class="flex align-items-center">
                <a pRipple class="cursor-pointer block lg:hidden text-700 mr-4" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
                    <i class="pi pi-bars text-4xl"></i>
                </a>
                <div class="hidden lg:flex">
                    <button pButton pRipple label="Login" class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500 mr-2" [routerLink]="['/auth/login']"></button>
                    <!--<button pButton pRipple label="Registrar" class="p-button-rounded border-none font-light line-height-2 bg-blue-500 text-white" [routerLink]="['/registro/registros']"></button>-->
                </div>
            </div>
        </div>
    
        <div id="hero" class="flex flex-column pt-8 px-4 lg:px-8 overflow-hidden" 
            style="background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
                   radial-gradient(circle at top right, #FF0000 0%, #FF4500 25%, #FFA500 50%, #9370DB 75%, #800080 100%); 
                   clip-path: ellipse(150% 87% at 93% 13%);">
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block"></span>UpeFlexControl</h1>
                <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Gestiona tus proyectos de manera eficiente y flexible con UpeFlexControl. Optimiza recursos, mejora la colaboración y alcanza tus objetivos.</p>
                <button pButton pRipple label="Regístrate ahora" class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-5 py-3 text-white align-self-start" [routerLink]="['/registro/registros']"></button>
            </div>
            <div class="flex justify-content-center md:justify-content-end">
                <img src="assets/demo/images/landing/LOGO.png" alt="Hero Image" class="w-9 md:w-auto">
            </div>
        </div>

        <!-- Nuevo footer -->
        <footer class="bg-purple-400 text-white py-6 px-4 lg:px-8 mt-8">
            <div class="grid justify-content-center align-items-center text-center">
                <div class="col-12 mb-4">
                    <img src="assets/demo/images/login/logoUpemor.png" alt="Logo Upemor" height="60" class="mb-3">
                </div>
                <div class="col-12 md:col-3 mb-4 md:mb-0">
                    <h3 class="text-xl font-semibold mb-3">Contacto</h3>
                    <p class="line-height-3">
                        <i class="pi pi-map-marker mr-2"></i>
                        Boulevard Cuauhnáhuac #566, Col. Lomas del Texcal, Jiutepec, Morelos. CP 62550
                    </p>
                </div>
                <div class="col-12 md:col-3 mb-4 md:mb-0">
                    <h3 class="text-xl font-semibold mb-3">Teléfono</h3>
                    <p class="line-height-3">
                        <i class="pi pi-phone mr-2"></i>
                        (777) 229 3517
                    </p>
                </div>
                <div class="col-12 md:col-3 mb-4 md:mb-0">
                    <h3 class="text-xl font-semibold mb-3">Correo de contacto</h3>
                    <p class="line-height-3">
                        <i class="pi pi-envelope mr-2"></i>
                        informes&#64;upemor.edu.mx
                    </p>
                </div>
            </div>
            <div class="text-center mt-6 text-sm">
                © 2023 Universidad Politécnica del Estado de Morelos. Todos los derechos reservados.
            </div>
        </footer>
    </div>
</div>