<div class="layout-topbar" style="display: flex; justify-content: space-between; align-items: center;">
    <!-- Esta es la parte del logo y la hamburguesa -->
    <div style="flex: 1; display: flex; align-items: center;">
        <a class="layout-topbar-logo" routerLink="">
            <img src="assets/demo/images/login/logoUpemor.png" alt="logo">
            <span>UpeFlexControl</span>
        </a>

        <button #menubutton class="p-link layout-menu-button layout-topbar-button" style="margin-left: 0vw;"
            (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
    </div>

    <!-- Parte de las opciones de usuario y notificaciones -->
    <div class="topbar-profile" style="display: flex; align-items: center; margin-left: auto;">
        <!-- Botón de notificaciones -->
        <div style="margin-right: 20px;">
            <p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="warning"></p-button>
        </div>

        <button type="button" class="p-element topbar-profile-button p-link" (click)="toggleOpciones()"
            style="display: flex; align-items: center; background: none; border: none; cursor: pointer;">
            <div style="width: 32px; height: 32px; border-radius: 50%; overflow: hidden; margin-right: 8px; display: flex; justify-content: center; align-items: center; background-color: #f0f0f0;">
                <ng-container *ngIf="!isLoadingPhoto; else loadingTemplate">
                    <img [src]="fotoUser" alt="Foto de perfil" 
                         style="max-width: 100%; max-height: 100%; object-fit: contain;">
                </ng-container>
                <ng-template #loadingTemplate>
                    <p-progressSpinner [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
                </ng-template>
            </div>
            <span class="profile-name" style="margin-right: 8px;">{{ nombreUsuario }}</span>
            <i class="pi pi-angle-down"></i>
        </button>
        <ul *ngIf="opcionesDesplegadas" class="p-menu p-component" style="position: absolute; top: calc(100% + 5px); right: 0;">
            <a pripple class="p-ripple p-element flex p-2 border-round align-items-center
            hover:surface-hover transition-colors transition-duration-150 cursor-pointer" (click)="editPerfil()">
                <i class="pi pi-user mr-3" style="color: black;"></i>
                <span style="color: black;">Perfil</span>
            </a>

            <a pripple class="p-ripple p-element flex p-2 border-round align-items-center
            hover:surface-hover transition-colors transition-duration-150 cursor-pointer" (click)="editContrasena()">
                <i class="pi pi-key mr-3" style="color: black;"></i>
                <span style="color: black;">Contraseña</span>
            </a>

            <a pripple class="p-ripple p-element flex p-2 border-round align-items-center
            hover:surface-hover transition-colors transition-duration-150 cursor-pointer" (click)="salir()">
                <i class="pi pi-sign-in mr-3" style="color: black;"></i>
                <span style="color: black;">Salir</span>
            </a>
        </ul>
    </div>
</div>